<h1>Sign in</h1>
<form action="/sessions/create">
  <label for="username"> Username:
</label>  
  <input id="username" type="text" placeholder="Your Name Here" name="username">
 <label for="password"> Password: </label> 
    <input id="password" type="password" placeholder="*******" name="password">
  <br>
  <br>
  <input type="submit">
</form>

<br>
<br>
<br>
<a href="/new_student">Sign up Today!!!</a>