<h1>New Student</h1>

<form action="/create_student">
  <div>
    <label for="username">username</label><br />
    <input id="username" name="username" type="text" />
  </div>
  <div>
    <label for="email">email</label><br />
    <input id="email" name="email" type="text" />
  </div>
  <div>
    <label for="img">img</label><br />
    <input id="img" name="img" type="text" />
  </div>
  <div>
    <label for="bio">bio</label><br />
    <input id="bio" name="bio" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

