<h1>Join EJ Robotics</h1>

<form action="/create_student">
  <div>
    <label for="username">Name</label><br />
    <input id="username" name="username" type="text" placeholder="Put[s] name here (first and last please)"/>
  </div>
    <div>
    <label for="password">Password</label><br />
    <input id="password" name="password" type="password" placeholder="Enter a Password"/>
  </div>
    <div>
    <label for="password_confirmation">Password Confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" placeholder="Please repeat Password"/>
  </div>
  <div>
    <label for="email">e-mail</label><br />
    <input id="email" name="email" type="text" placeholder="type e-mail here"/>
  </div>
  <div>
    <label for="img">Profile Picture</label><br />
    <input id="img" name="img" type="text" placeholder="Insert a picture (url)"/>
  </div>
  <div>
    <label for="bio">Biography</label><br />
    <input id="bio" name="bio" type="text" placeholder="type a Bio here"/>
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>

