<h1>Teachers</h1>

<p><a href="/new_teacher/fermiomt54t902340tncvdfhjfoh805thery457uhjthk7785y7n0cvgh45outvturgvdfsg7">Add a New Teacher</a></p>


          <a href="/teachers/<%= teacher.id %/asdfjkhgvhjcbvhsdgwerojteruyt596iusgfrutfuksdh7t34yfduisayfuasdkhfdfuayf2>">About</a>




