<h1>New Teacher</h1>

<form action="/create_teacher">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="email">email</label><br />
    <input id="email" name="email" type="text" />
  </div>
  <div>
    <label for="img">img</label><br />
    <input id="img" name="img" type="text" />
  </div>
  <div>
    <label for="bio">bio</label><br />
    <input id="bio" name="bio" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

