
<br>
<% if session['username'] == "MASTERKEY"%>
<h1>Add a Teacher</h1>

<form action="/create_teacher">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" placeholder="enter name here"/>
  </div>
  <div>
    <label for="email">e-mail</label><br />
    <input id="email" name="email" type="text" placeholder="type e-mail here"/>
  </div>
  <div>
    <label for="img">Profile Picture</label><br />
    <input id="img" name="img" type="text" placeholder="url of image"/>
  </div>
  <div>
    <label for="bio">Biography</label><br />
    <input id="bio" name="bio" type="text" placeholder="brief biography"/>
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>
<%end%>

