<h1>About Class</h1>
<p>
A 1/4 long class Introducing students to computer programming on the website Codecademy. The class is graded based on weekly participation. Good luck and Code on!
</p>
<img src="http://media.giphy.com/media/ZgBHqRyBXetos/giphy.gif">