<h1>About Class</h1>
<p>
A 1/4 long class Introducing students to computer programming on the website Codecademy. The class is graded based on weekly participation. Good luck and Code on!
</p>
<img src="http://media.giphy.com/media/ZgBHqRyBXetos/giphy.gif">

<!--
<br>
<br>
<br>

<div height=600px width=600px>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    
    <body>
        <!-- Right below is an image of the sun -->
   <!--     <img id="sun" src="http://goo.gl/PmbqZa">
        
        <!-- Insert the 'earth' on the next line -->
<!--        <div id='mercury-orbit'>
    <img id='mercury' src="http://www.opendoorwayreflections.com/wp-content/uploads/2013/02/Mercury.jpg">
        </div>
        
    <div id='venus-orbit'>
    <img id='venus' src="https://solarsystem.nasa.gov/images/venus_PIA00104_240x240.jpg">
        </div>
        
        <div id='earth-orbit'>
    <img id='earth' src="http://thenypost.files.wordpress.com/2014/04/bloodmoon.jpg">
        </div>
        
        <div id='mars-orbit'>
    <img id='mars' src="http://img.geocaching.com/cache/ac18a1c3-a7d0-4838-9dc4-e2ec82d46859.jpg">
        </div>

</body>
</html>
  </div>
-->