<h1> Welcome to Mr. Essenburg's Intro to Programming! </h1>
<body>
  If you are looking for codecademy, click <a href= "http://www.codecademy.com/">here</a>, <a href= "http://www.codecademy.com/">here</a>, or <a href= "http://www.codecademy.com/">here</a>.
  <br>
If you want to enroll, submit a assignment, or look up a teacher, look up... 
</body>
<br>
<br>
<br>

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>
  </head>
  <body>
    <canvas id="myCanvas"></canvas>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
<script>
var red = [0, 100, 67];
var orange = [40, 100, 60];
var green = [75, 100, 40];
var blue = [196, 77, 55];
var purple = [280, 50, 60];
var black = [111, 143, 011];

var myName = "LEARN CODE";
var letterColors = [red, purple, green, blue, orange, black]
if (5 === 5) {
    bubbleShape = "square";
}
else {
    bubbleShape = "rectangle"
}


drawName(myName, letterColors);
bounceBubbles()
</script>
<div style="position: relative;background-color: black; width: 2600px; height: 35px;">    

    <div style="position: absolute; bottom: 5px; color: white;">
    Powered by: Bootstrap.com, Heroku.com, Nitrous.io, Codecademy, and Frustration
    </div>