<h1>New Report</h1>

<form action="/create_report">
  <div>
    <label for="username">Student ID</label><br />
 <select input id="username" name="username">
    <option>
    <%= session['username'] %>
    </option>
   </select>
    </input>
  </div>
  <div>
    <label for="comment">Report</label><br />
    <input id="comment" name="comment" type="text" placeholder= "type what you learned!"/>
  </div>
  <div>
    <label for="date">Today's date</label><br />
    <input id="date" name="date" type="text" placeholder= "e.g. 10-4"/>
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>

