<h1>New Report</h1>

<form action="/create_report">
  <div>
    <label for="student_id">student_id</label><br />
    <input id="student_id" name="student_id" type="text" />
  </div>
  <div>
    <label for="comment">comment</label><br />
    <input id="comment" name="comment" type="text" />
  </div>
  <div>
    <label for="date">date</label><br />
    <input id="date" name="date" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

