<h1>New Report</h1>

<form action="/create_report">
  <div>
    <label for="student_id">Student ID</label><br />
    <input id="student_id" name="student_id" type="text" placeholder= "insert student ID here"/>
  </div>
  <div>
    <label for="comment">Report</label><br />
    <input id="comment" name="comment" type="text" placeholder= "type what you learned!"/>
  </div>
  <div>
    <label for="date">Today's date</label><br />
    <input id="date" name="date" type="text" placeholder= "e.g. 10-4"/>
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>

